.quiz-img {
  max-width: 250px;
  height: auto;
}
.quiz-item {
  max-width: 300px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #0d6efd;
  height: 450px;
}
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.pointer {
  cursor: pointer;
}
.choose-input {
  width: 28px;
}
