.quiz-img {
  max-width: 250px;
  height: auto;
}
.quiz-item {
  max-width: 300px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #0d6efd;
  height: 450px;
}
.my-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.border-radius {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}
.choose-input {
  width: 28px;
}
.education-img {
  width: 20px;
}
.education-list {
  list-style: none;
}
//switcher
* {
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}
.sun-img {
  width: 20px;
  height: 20px;
}
.moon-img {
  width: 17px;
  height: 17px;
}

//dark mod
.dark-page {
  div,
  html,
  body,
  nav {
    background-color: #111 !important;
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  label,
  a {
    color: #fff !important;
  }

  input,
  textarea,
  select {
    background-color: #2a2d2fcf !important;
    color: #fff !important;
  }

  table {
    background-color: #111;
    color: #fff;
  }

  .dark-mode {
    color: #fff !important;
    background-color: #2a2d2fcf !important;

    div {
      background-color: #2a2d2fcf !important;
    }

    .white-element {
      background-color: #fff !important;
      color: #111;
    }
  }

  .grey-element div {
    background-color: #242829 !important;
    color: #fff !important;
  }

  .white-element div {
    background-color: #fff !important;
    color: #111 !important;
  }

  .white-text {
    color: #fff !important;
  }

  .test-element {
    background: #242829 !important;
    color: #fff !important;
  }
  .test-variants {
    background: #fff !important;

    label {
      color: #111111 !important;
    }

    .variant-input-container {
      background: #fff !important;
      .form-check-input:checked {
        background-color: #0d6efd !important;
      }
    }
  }
  .test-variants__active {
    border: 2px solid #0d6efd !important;
  }
  .important-text {
    color: #0d6efd !important;
  }
  .label {
    background-color: #fff !important;
  }
}
